/* .form{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
} */
.text{
    padding: 10px;
    margin: 10px;
}
body{
    color: azure;
    background-color: rgb(134, 0, 0);
}
.result{
    display: flex;
    background-color: rgb(43, 0, 0);
    height: 5vh;
    width: 60px;
    justify-content: center;
    align-items: center;
}
.res{
    display: flex;
    align-items: center;
    gap: 10px;
}
.msg{
    display: flex;
    height: 7vh;
    width: 30vh;
    background-color: rgb(43, 0, 0);
    justify-content: center;
    align-items: center;
}
